* {
    box-sizing: border-box;
}

header {
    text-align: center;
}

.search {
    text-align: center;
}

p {
    font-size: 16px;
}

.all-parks {
    text-align: center;
}

.hidden {
    display: none;
}